@font-face {
  font-family: "KelsonSansBold";
  src: url("../src/fonts/Kelson Sans Bold.otf");
}
@font-face {
  font-family: "KelsonSansLight";
  src: url("../src/fonts/Kelson Sans Light.otf");
}
@font-face {
  font-family: "RalewayRegular";
  src: url("../src/fonts/Raleway-Regular.ttf");
}
@font-face {
  font-family: "MontserratSemiBold";
  src: url("../src/fonts/Montserrat-SemiBold.otf");
}
@font-face {
  font-family: "MontserratRegular";
  src: url("../src/fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "BebasNeueBold";
  src: url("../src/fonts/BebasNeue Bold.ttf");
}